option(href='/todo/form/desc/')
  | New todo
if todos && todos.length > 0
  option(href='/todo/listDone/')
    | Done(#{doneCount})
  p
    | Todo (#{todoCount}):
if todos
  each todo in todos
    option(href='/todo/view/'+todo.id) #{todo.taskDescription} #{todo.dueDate}
          