header
  | #TODO MENU
option(href='/todo/form/desc/')
  | New todo
option(href='/todo/listDone/')
  | Done(#{doneCount})
p
  | Todo (#{todoCount}):
each todo in todos
   p
   option(href='/todo/view/'+todo.id) #{todo.taskDescription} #{todo.dueDate}
          