# Node build artifacts
node_modules
npm-debug.log
sessions/

# Local development
*.env
*.dev
.DS_Store
restartlog.txt
npm-debug.log.3419865986

# Docker
Dockerfile
docker-compose.yml
node_modules
node_modules

