form(action="/todoAdd", skip-confirmation=false, method="post")
    section(name="title")
        header SURVEY TITLE
        p Give your survey a title (5-35 char)?
        p Example: Membership Service and Activities
        input(type="text" minlength="5" maxlength="35") 
        footer Reply with title/BACK/CANCEL
    section(name="description")
        header SURVEY DESCRIPTION
        p Describe the purpose of your survey (10-160 char)?
        p Example: We would like the membership's opinion on the quality of our activities and input on how we can improve.
        input(type="text" minlength="10" maxlength="160")
        footer Reply with description/BACK/CANCEL
    section(name="instructions")
        header SURVEY INSTRUCTIONS
        p Describe the survey process (10-160 char)?
        p Example: Please respond to each of the next 5 questions to the best of your knowledge. There are no right or wrong answers.
        input(type="text" minlength="10" maxlength="160")
        footer Reply with instruction/BACK/CANCEL
    section(name="questions")
        header SURVEY QUESTIONS
        p How many questions (1-10)?
        p Example: 5
        input(type="number" step="1" min="1" max="10")
        footer Reply with number/BACK/CANCEL