form(submit="/todoAdd", confirmation-needed="True", method="post")
    header description
    footer Reply with description
    p Provide a description for the task
        input(name="description", type="string")
    header due date
    footer Reply with due date
    p Provide a due date
        input(name="dueDate", type="date")