form(action="/todoAdd", skip-confirmation=false, method="post")
    section(name="description")
        header DESCRIPTION
        p Provide a description for the task
        input(type="text")
        footer Reply with description or BACK
    section(name="dueDate")
        header DUE DATE
        p Provide a due date
        input(type="date")
        footer Reply with due date
