form(action="/todoAdd", method="post")
    section(name="description")
        header DESCRIPTION
        p Provide a description for the task
        input(type="text")
        footer Reply with description or BACK
    section(name="dueDate")
        header DUE DATE
        p Provide a due date
        input(type="date")
        footer Reply with due date
    section(name="fullName",)
        header Phone number
        p Provide Phone number
        input(type="phone")
        footer Reply with phone number
    section(name="email")
        header Email
        p Your email address
        input(type="email")
        footer Reply with email
    section(name="interest", multi-select)
        header Category
        p What would you like your micro-app to do?
        ul
            li(value="contact") Contact form
            li(value="faq") Frequently asked questions
            li(value="appointments") Books appointments
            li(value="event") Events management
            li(value="other") Something else
    section(name="message")
        header Message
        p Anything else you would like add
        input(type="text")