section
  header VIEW
  ul
    li Task: #{taskDescription}
    li Due: #{dueDate}
    if status !== 'done'
      li
        a(href='/todoDone/'+id, method='put') Mark as done
    if status == 'done'
      li
        a(href='/todoTodo/'+id, method='put') Mark as todo
    li
      a(href='/'+id, method='delete') Delete
