form(action="/todoAdd", skip-confirmation=true, method="post")
    section(name="hidden1")
        header DUE DATE
        p Provide a due date
        input(type="hidden", value="1234")
    section(name="description")
        header DESCRIPTION
        p Provide a description for the task
        input(type="text")
        footer Reply with description or BACK
    section(name="dueDate")
        header DUE DATE
        p Provide a due date
        input(type="date")
        footer Reply with due date
    section(name="hidden2")
        header DUE DATE
        p Provide a due date
        input(type="hidden", value="2345")