form(action="/todoSetDuedate/" + todo.id, confirmation-needed="False", method="put")
    section(name="dueDate")
        header DUE DATE
        p Provide a due date
        input(type="date")
        footer Reply with due date

