form(action="/todoAddDesc", confirmation-needed="False", method="post")
    section(name="description")
        header DESCRIPTION
        p Provide a description for the task
        input(type="text")
        footer Reply with description or BACK