section
	header
	  | TODO VIEW #{taskDescription.length <= 10 ? taskDescription : taskDescription.substring(0,10) + '..'}
	p
	  | Task: #{taskDescription}
	  | Due: #{dueDate}
	if status !== 'done'
	  option(href='/todoDone/'+id, method='put')
	    | Mark as done
	if status == 'done'
	  option(href='/todoTodo/'+id, method='put')
	    | Mark as todo
	option(href='/'+id, method='delete')
	  | Delete
	option(href='/todoEdit/'+id)
	  | Edit
